<H4>ADD a todo</H4>
<form>
  <div class="form-group">
    <label for="title">Todo Title </label>
    <input
      type="text"
      class="form-control"
      id="title"
      aria-describedby="emailHelp"
      placeholder="Enter Title"
    />
  </div>
  <div class="form-group">
    <label for="desc">Todo Description</label>
    <input
      type="text"
      class="form-control"
      id="desc"
      placeholder="Description"
    />
  </div>

  <button type="submit" class="btn btn-sm btn-primary my-3">Submit</button>
</form>
